<div>
  <div>
    <h3>Create a New Post:</h3>
    </div>
    <form class="mt-4">
      <div class="form-group">
        <input type="text" class="form-control" id="post-title" placeholder="Title">
      </div>
      <div class="form-group">
        <textarea class="form-control mt-4" id="post-content" rows="3" placeholder="Content"></textarea>
      </div>
      <div>
        <button type="submit" class="btn btn-primary btn-lg" id="submit-post">Create</button>
      </div>
    </form>
  </div>
  <div class="col-3"></div>
</div>
<script src="/js/newPost.js"></script>